# App artifacts
/_build
/db
/deps
/*.ez

# Nerves artifacts
apps/*/_images
apps/*/.nerves

# Phoenix assets
apps/ui/priv/static/

# Generate on crash by the VM
erl_crash.dump

# Environment variables
.envrc
