/* This file is for your main application css. */

.countries {
  fill: #b0d0ab;
  stroke: #6cb0e0;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.cities {
  fill: #036;
  stroke: #6cb0e0;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.route {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

#arrow{
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 0;
}

#content {
  background-color: #73b6e6;
}
